<html lang="en">
<h1>Emenu new and modified dishes</h1>
Hello , <br/>

New dishes and last update dishes from our Emenu cards:
    <br/>
    <br/>
    {% for obj in object_list %}
    <b>{{obj.name}}</b><br/>
    Description: {{obj.description}}<br/>
    Price: {{obj.price}} $<br/>
    Preparation time: {{obj.preparation_time}} min<br/>
    Vegetarian dish: {{obj.vegetarian_dish}}<br/>
    Date of addition: {{obj.date_of_addition}}<br/>
    Update date: {{obj.update_date}}<br/>
    <br/>
    {% endfor %}

Regards, <br/>
Emenu restaurant team.
</html>